@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css';
.border {
  border: 1px solid #000;
}
body {
  font-family: 'Lato', sans-serif;
}
.blue-theme {
  background: #09f;
}
.theme-orange {
  background: #f70;
}
.red-theme {
  background: #da0000;
}
.green-theme {
  background: #00b300;
}
.darkblue-theme {
  background: #06c;
}
header {
  padding: 5px 20px;
}
header .logo-bar img {
  height: 40px;
  width: 150px;
  margin: 0 auto;
  display: block;
  transition: all ease 0.3s;
}
header .logo-bar img:hover {
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
header .logo-bar .search {
  height: 40px;
  position: relative;
}
header .logo-bar .search input {
  width: 100%;
  max-width: 240px;
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0);
  background: none;
  height: 40px;
  padding: 7px 7px 7px 40px;
  color: #fff;
  transition: all ease 0.3s;
  position: absolute;
}
header .logo-bar .search input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
}
header .logo-bar .search input:hover {
  border: 2px solid rgba(255,255,255,0.5);
}
header .logo-bar .search input:focus {
  border: 2px solid #fff;
  background: #fff;
  outline: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
header .logo-bar .search input:focus ~ i.glyphicon {
  color: #ccc;
}
header .logo-bar .search i.glyphicon {
  position: absolute;
  color: #fff;
  margin: 13px 0 0 15px;
  font-size: 12px;
}
header .logo-bar ul.social {
  float: right;
  margin: 0;
  padding: 0;
}
header .logo-bar ul.social li {
  list-style: none;
  display: inline-block;
}
header .logo-bar ul.social li button {
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 100%;
  border: none;
  outline: 0;
  transition: all ease 0.3s;
}
header .logo-bar ul.social li button:hover {
  background: #33adff;
}
header .logo-bar ul.social li button span {
  color: #fff;
}
header .navbar {
  margin: 0 -20px;
  border-top: 2px solid #33adff;
}
