@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css';

.border
   border: 1px solid #000;

header
   .logo-bar
      background: #0099FF;
      padding: 5px;
      img
         height: 40px;
         width: 150px;
         margin: 0 auto;
         display: block;
         transition: all ease 0.3s;
         &:hover
            -ms-transform: scale(.9);
            transform: scale(.9);
    .search
        height: 40px;
        position: relative;
        input
            width: 100%;
            border-radius: 50px;
            border: 2px solid rgba(255, 255, 255, 0)
            background: none;
            height: 40px;
            padding: 7px 7px 7px 35px;
            color: #fff;
            transition: all ease 0.3s;
            // &::-webkit-input-placeholder
            // &::-moz-input-placeholder
            //     color: none;
            &:hover
            &:focus
                border: 2px solid rgba(255, 255, 255, 50%);
            // &::-webkit-placeholder
                // color: #fff;
        i.glyphicon
            position: absolute;
            color: #fff;
            padding: 10px 0 0 15px;

