@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css';
.border {
  border: 1px solid #000;
}
body {
  font-family: 'Lato', sans-serif;
}
header {
  padding: 5px 20px;
  background: #09f;
}
header .logo-bar img {
  height: 40px;
  width: 150px;
  margin: 0 auto;
  display: block;
  transition: all ease 0.3s;
}
header .logo-bar img:hover {
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
header .search {
  height: 40px;
  position: relative;
}
header .search input {
  width: 100%;
  max-width: 240px;
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0);
  background: none;
  height: 40px;
  padding: 7px 7px 7px 40px;
  color: #fff;
  transition: all ease 0.3s;
  position: absolute;
}
header .search input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
}
header .search input:hover {
  border: 2px solid rgba(255,255,255,0.5);
}
header .search input:focus {
  border: 2px solid #fff;
  background: #fff;
  outline: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
header .search input:focus ~ i.glyphicon {
  color: #ccc;
}
header .search i.glyphicon {
  position: absolute;
  color: #fff;
  margin: 13px 0 0 15px;
  font-size: 12px;
}
